/* Footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;

  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 280px;
  

}


/* Custom footer CSS
-------------------------------------------------- */

.container-bot {
  width: center;
  max-width: 680px;
  padding: 0 15px;
}
.container-bot .text-muted {
  margin: 20px 0;
}
.footertext {
  color: #000000;
}